[user]
	name = Sylvain Rabot
	email = sylvain@abstraction.fr
        signingkey = "6EF77C66F87F0253ADD7857B13D27DFB503A8D91"
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[diff]
	noprefix = True
	algorithm = histogram
[core]
	pager = delta
[push]
	default = current
[alias]
	st = status
	graph = log --oneline --graph --pretty=\"format:%C(yellow)%h%C(reset)%C(auto)%d %C(reset)%s %C(green)%aN %C(cyan)%cr%C(reset)\"
	graph-abs = log --oneline --graph --pretty=\"format:%C(yellow)%h%C(reset)%C(auto)%d %C(reset)%s %C(green)%aN %C(cyan)%ci%C(reset)\"
	diff = diff --relative
	fixup = commit --amend --no-edit
	betclic = !git config --local user.email "s.rabot@betclicgroup.com" && git config --local user.signingkey "0CD778CA502150098AB01A0F0189BC521B91C2FD" 
	cleanup = !git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d

[merge]
	tool = meld
[mergetool "meld"]
	path = /usr/local/bin/meld
[delta]
	relative-paths                = true
	features                      = decorations
	minus-style                   = red
	minus-non-emph-style          = red
    	minus-emph-style              = reverse red
    	minus-empty-line-marker-style = normal "#3f0001"
	plus-style                    = green
	plus-non-emph-style           = green
	plus-emph-style               = reverse green
	plus-empty-line-marker-style  = normal "#002800"
	line-numbers                  = true
	max-line-length               = 10000
[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = yellow
[pull]
	rebase = false
